{% extends 'base.html' %}
{% block content %}

<h1>{{ car.make }} {{ car.model }} {{ car.year }}</h1>

<div class="row">
    <div>
        <div class="card">
            {% for photo in car.photo_set.all %}
                <img class="responsive-img card-panel" src="{{photo.url}}">
            {% empty %}
                <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% endfor %}

            <form action="{% url 'add_photo' car.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn" value="Upload Photo">
            </form>

            <div class="card-content">
                <a href="{% url 'detail' car.id%}">
                    <div class="card-content">
                        <span class="card-title">{{ car.make }} {{ car.model }} {{ car.year }}</span>
                        <p>Purchased: {{ car.purchase_date }}</p>
                        <p>Vehicle Cost: ${{ car.vehicle_cost }}</p>
                        <p>Registration and Tax: ${{ car.reg_and_tax }}</p>
                        <p>Repair and Initial Expenses: ${{ car.repair_and_init_expense }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'cars_update' car.id %}">Edit</a>
                        <a href="{% url 'cars_delete' car.id %}">Delete</a>
                    </div>
                </a>   
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <h5>{{ car.model }}'s Air Fresheners</h5>
            {% if car.air_fresheners.count %}
            {% for a in car.air_fresheners.all %}
                <div class="card">
                <div class="card-content">
                    <span class="card-title">
                    <span style="color: {{ a.color }}">{{ a.color }}</span> {{ a.scent }}
                    </span>
                </div>
                </div>
            {% endfor %}
            {% else %}
                <h5>No Air Fresheners</h5>
            {% endif %}
        </div>
        <div class="col s6">
            <h5>Available Air Fresheners</h5>
            {% if air_fresheners.count %}
                {% for a in air_fresheners.all %}
                    <div class="card">
                        <div class="card-content">
                        <span class="card-title">
                            A <span style="color: {{ a.color }}">{{ a.color }}</span> {{ a.scent }}
                        </span>
                        </div>
                        <div class="card-action">
                        <form action="{% url 'assoc_air_freshener' car.id a.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn">Add</button>
                        </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5>{{car.model}} Already Has All Air Fresheners Available</h5>
            {% endif %}
        </div>
    </div>

    <div>
       
        <table class="striped">
            <tbody>
                {% if car.customers.count %}
                    {% for c in car.customers.all %}
                        <h5>Customers renting this {{ car.model }}:</h5>
                        <thead>
                            <tr><th>Customer Name</th></tr>
                        </thead>
                        <tr>
                            <td>{{ c.name }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <div class="card">
                        <h5>No Customers are renting this car.</h5>
                    </div>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div>
        <table class="striped">
            <thead>
                <tr><th>Agreement #<th>Date</th><th>Term</th></tr>
            </thead>
            <tbody>
            {% for a in car.agreement_set.all %}
                <tr>
                <td>{{a.agreement_num}}</td>
                <td>{{a.date}}</td>
                <td>{{a.get_term_display}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        

        <h5>Write a New Agreement:</h5>

        <form action="{% url 'add_agreement' car.id %}" method="post">
            {% csrf_token %}
            {{ agreement_form.as_p }}
            <input type="submit" class="btn" value="Add Agreement Contract">
        </form>
        </div>
    </div>
</div>
<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    var termSelect = document.getElementById('id_term');
    M.FormSelect.init(termSelect);

    var freqSelect = document.getElementById('id_payment_freq');
    M.FormSelect.init(freqSelect);

</script>


{% endblock %}